body {
    margin: 0px;
    padding: 0px;
    background: white;
    min-width: 350px;
    width: 100%;
    font-family: "KelsonSansRegular";
    font-size: 14px;
    color: #313844;
}
#header{
    background: #EC3F21;
}
.brand img{
    margin-top:5px;
}
.caption h4, #main .row, ul.menu, .brand{
    padding-left: 20px;
}
.caption{
    font-family: "KelsonSansBold";
}
#main .row{
    padding-top: 13px;
    padding-bottom: 13px;
}

.text-center{
    text-align: center;
}
.left{
    float: left;
}
.right{
    float: right;
}
ul.menu{
    list-style: none;
}
ul.menu li{
    display: inline-block;
    text-align: right;
}
hr.line{
    color: #F3F3F3;
    background-color:#F3F3F3;
    border:0 none;
    height:1px;
    clear:both;
    margin: 0 20px;
}
.footer{
    height: 30px;
}
#squirrel img{
    margin-top: -20px;
    margin-left: 20px;
}
.retreat_20{
    margin-left: 20px;
}
.gray{
    /*cursor: not-allowed!important;*/
    text-decoration: none!important;
    pointer-events:none!important;
    color: #c0c5c9;
}
.ion {
    color: #EC3F21!important;
    font-size: 28px;
    position: absolute;
    margin-top: -5px;
    display: block;
    width: 32px;
}
#faq{
    width: 60px;
}
#return{
    width: 150px;
}
.point{
    cursor: pointer;
}
.not_point{
    pointer-events:none;
}
#main div a{
    margin-left: 40px;
}
.button_logout {
    border: 1px solid #EC3F21;
    padding: 2px 7px;
    border-radius: 5px;
    margin-left: 10px!important;
    margin-top: -2px;
    position: absolute;
    color: #EC3F21;
}
.button_logout:hover{
    background-color: #EC3F21;
    color: #ffffff;
    cursor: pointer;
}
#return .ion{
    margin-left: -5px;
}
#return_link{
    margin-left: 37px!important;
}
.linkWhite{
    color: #ffffff;
}
.svgStep{
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 100%;
}
.stepOne{
    background: url(../image/1-red.svg) no-repeat;
}
.stepOne.active{
    background: url(../image/1-white.svg) no-repeat;
}
.stepTwo{
    background: url(../image/2-red.svg) no-repeat;
}
.stepTwo.active{
    background: url(../image/2-white.svg) no-repeat;
}
.stepThree{
    background: url(../image/3-red.svg) no-repeat;
}
.stepThree.active{
    background: url(../image/3-white.svg) no-repeat;
}
.userActive{
    background: url(../image/user-red.svg) no-repeat;
}
.userActive.active{
    background: url(../image/user-white.svg) no-repeat;
}
.stepDone{
    background: url(../image/check-red.svg) no-repeat;
}
.stepDone.active{
    background: url(../image/check-white.svg) no-repeat;
}
ul.menu a:hover{
    color: #EC3F21;
}
.backgroundRadius{
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}
